<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In - Dev</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- Replace with your Google Sign-In Dev client ID reversed URL scheme -->
				<string>com.googleusercontent.apps.YOUR_DEV_CLIENT_ID</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In - Prod</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- Replace with your Google Sign-In Prod client ID reversed URL scheme -->
				<string>com.googleusercontent.apps.YOUR_PROD_CLIENT_ID</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>basic_deep_link</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dialedIn</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
