<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94958324260-t0henv0q8ij3cj1h80fr5ufh7ge3lehq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94958324260-t0henv0q8ij3cj1h80fr5ufh7ge3lehq</string>
	<key>API_KEY</key>
	<string>AIzaSyDS6KX7LElGkRRLbHM64Verv69kofPSmM4</string>
	<key>GCM_SENDER_ID</key>
	<string>94958324260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andrewcoyle.DialedIn.dev</string>
	<key>PROJECT_ID</key>
	<string>dialed-c3cb5</string>
	<key>STORAGE_BUCKET</key>
	<string>dialed-c3cb5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94958324260:ios:4e478d6a2542c00488e6b1</string>
</dict>
</plist>