<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DialedIn.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7D2C0BEFDF2FA28939FEC0CC91518165C5BF1155</string>
				<key>dateExpires</key>
				<string>20/03/2026</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7D2C0BEFDF2FA28939FEC0CC91518165C5BF1155</string>
						<key>dateExpires</key>
						<string>20/03/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VRNWC32C76</string>
						<key>name</key>
						<string>ANDREW MICHAEL COYLE</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7D2C0BEFDF2FA28939FEC0CC91518165C5BF1155</string>
						<key>dateExpires</key>
						<string>20/03/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VRNWC32C76</string>
						<key>name</key>
						<string>ANDREW MICHAEL COYLE</string>
					</dict>
					<key>versionNumber</key>
					<string>11.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2.2.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7D2C0BEFDF2FA28939FEC0CC91518165C5BF1155</string>
						<key>dateExpires</key>
						<string>20/03/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAdsOnDeviceConversion.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VRNWC32C76</string>
						<key>name</key>
						<string>ANDREW MICHAEL COYLE</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7D2C0BEFDF2FA28939FEC0CC91518165C5BF1155</string>
						<key>dateExpires</key>
						<string>20/03/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VRNWC32C76</string>
						<key>name</key>
						<string>ANDREW MICHAEL COYLE</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7D2C0BEFDF2FA28939FEC0CC91518165C5BF1155</string>
						<key>dateExpires</key>
						<string>20/03/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VRNWC32C76</string>
						<key>name</key>
						<string>ANDREW MICHAEL COYLE</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7D2C0BEFDF2FA28939FEC0CC91518165C5BF1155</string>
						<key>dateExpires</key>
						<string>20/03/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VRNWC32C76</string>
						<key>name</key>
						<string>ANDREW MICHAEL COYLE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240722.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7D2C0BEFDF2FA28939FEC0CC91518165C5BF1155</string>
						<key>dateExpires</key>
						<string>20/03/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VRNWC32C76</string>
						<key>name</key>
						<string>ANDREW MICHAEL COYLE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7D2C0BEFDF2FA28939FEC0CC91518165C5BF1155</string>
						<key>dateExpires</key>
						<string>20/03/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VRNWC32C76</string>
						<key>name</key>
						<string>ANDREW MICHAEL COYLE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7D2C0BEFDF2FA28939FEC0CC91518165C5BF1155</string>
						<key>dateExpires</key>
						<string>20/03/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VRNWC32C76</string>
						<key>name</key>
						<string>ANDREW MICHAEL COYLE</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.37</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>VRNWC32C76.com.andrewcoyle.DialedIn</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.devicecheck.appattest-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>VRNWC32C76</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>DialedIn.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e31281ae-f1eb-437a-a2c1-d6214166db0d</string>
				<key>dateExpires</key>
				<string>20/03/2026</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.andrewcoyle.DialedIn</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VRNWC32C76</string>
				<key>name</key>
				<string>ANDREW MICHAEL COYLE</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
